* {
  font-family: "Comfortaa", cursive;
  /*border: solid 1px black;*/
  text-align: center;
  box-sizing: border-box;
}

.container-head {
  width: 90vw;
  margin: 0 auto;
}
header {
  background: lightblue;
}

li {
  display: inline;
}
.container-main {
  width: 90vw;
  height: 80vh;
  margin: 10px auto;
  text-align: center;
}

.enter-task-interface {
  background: cyan;
  justify-content: center;
  height: 20%;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pending-tasks-interface {
  background: darkkhaki;
  height: 40%;
}

.task-button {
  border-radius: 5px;
  box-shadow: gray 2px 2px;
}
.new-task {
  background-color: darkkhaki;
}

.check-mark {
  background-color: darkkhaki;
}

.remove-button {
  background-color: darkkhaki;
}

.completed-tasks-interface {
  background: darksalmon;
  height: 40%;
  margin-top: 5px;
}

.new-task-clone {
  background-color: darksalmon;
}

.check-mark-clone {
  background-color: darksalmon;
}

.remove-button-clone {
  background-color: darksalmon;
}
